.bg-navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(83,132,205,1) 40%,  rgba(2,0,36,1) 90%);
}
.navbar img {
    width: 40px;
}
.pagesNavigator {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.pagesNavigator > * {
    margin-inline: 1vw;
    margin-bottom: 5px;
}

.mainGallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
}
.mainGallery > div{
    max-width: 19%;
    margin: 10px;
}

.mainGallery img{
    width: 100%;
    object-fit: contain;
}

.sideBar {
    background-color: #031633;

    min-height: 85vh;
}

@media screen and (max-width: 1650px){
    .mainGallery > div {
        width: 30%;
    }
}

@media screen and (max-width: 999px){
    .mainGallery > div {
        width: 45%;
    }
    .sideBar {
        min-height: auto;
    }
}
.zoznamTags {
    list-style-type: none;
    text-align: center;

}
.zoznamTags .tagInfo {
    color: #0dcaf0;
}
.zoznamTags a {
    color: white;
    font-size: large;
    text-decoration: none;
    text-align: center;
    height: 100%;
}
.zoznamTags i {
    display: flex;
    justify-content: center;
    height: 100%;
}

.tagRow {
    display: flex;
    align-items: center;
}
.tagDisabled {
    color: #6c757d;
}
.scoreRow {
    display: inline-flex;
}
.green {
    color: lawngreen;
}

.red {
    color: red;
}

.wighterBackground {
    background-color: #ffffff10;
    border-radius: 5px;
}

.cancelAlertButton{
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed; /* Uistíme sa, že prvok je na celú obrazovku */
    top: 0;
    left: 0;
    display: flex; /* Flexbox na centrovanie */
    align-items: center; /* Vertikálne centrovanie */
    justify-content: center; /* Horizontálne centrovanie */
    background-color: rgba(26, 32, 44, 0.85);
}

.fullscreen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: zoom-out;
}
.unfocuseBackground{
    background-color: rgba(26, 32, 44, 0.85);
}



.profileSubInfo{
    background-color: rgba(55, 59, 69, 0.82);
    padding: 10px;
}

.imgDescInProfile{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 14em;

}
.profileSubInfo{
    height: 20vh;
    min-height: 14em;
}
@media (max-width: 767px){
    .profileSubInfo {
        height: auto;
    }
    .imgColProfile{
        height: auto;
        width: 100%;
        justify-content: start;
    }
}

.imgColProfile{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgColProfile img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
